html {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #555;
}
article {
    background-color: #fff;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
}

body {
    background-color: #eeefef;
}

h2 {
    border-bottom: 2px solid #ff9900;
    color: #006666;
    display: block;
    margin-bottom: 0;
    width: 100%;
}

h3 {
    color: #006666;
    margin-bottom: 0;
}

h4, h5, h6 {
    color: #009999;
    margin-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}